.dashboardContainer {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; /* Set width to crop the content */
    max-width: 900px; /* Maximum width */
    height: 60vh; /* Full height */
    margin: 0 auto; /* Center the container horizontally */
    top: 50%;
    left: 50%;
    text-align: center; /* Center text inside the container */
}

/* Welcome Message */
.welcomeMessage {
  font-family: 'Istok Web', sans-serif;
  font-size: 36px;
  color: #5C5C5C;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dashboardCard {
  background-color: #0C3A3A;
  border-radius: 5px;
  width: 80%;
  max-width: 800px;
  height: 175px;
  display: flex;
  align-items: start;
  padding: 20px;
  color: white;
  gap: 20px;
  transition: transform 0.3s ease;
}

/* Card hover effect */
.dashboardCard:hover {
  transform: translateY(-5px);
}

/* Card Icon */
.cardIcon {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon styling */
.icon {
  font-size: 64px;
  color: white;
}

/* Card content */
.cardContent {
  flex-grow: 1;
}

/* Card title */
.cardTitle {
  font-family: 'Istok Web', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-align: left;
}

/* Card description */
.cardDescription {
  font-family: 'Istok Web', sans-serif;
  font-size: 20px;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboardCard {
      flex-direction: column;
      height: auto;
      padding: 20px;
      gap: 15px;
  }

  .cardIcon {
      flex: none;
      font-size: 48px;
  }

  .icon {
      font-size: 48px;
  }

  .cardTitle {
      font-size: 28px;
  }

  .cardDescription {
      font-size: 18px;
  }

  .welcomeMessage {
      font-size: 28px;
  }
}

@media (max-width: 480px) {
  .dashboardCard {
      width: 100%;
      padding: 15px;
      gap: 5px;
  }

  .cardTitle {
      font-size: 24px;
  }

  .cardDescription {
      font-size: 16px;
  }

  .welcomeMessage {
      font-size: 24px;
  }
}
