.cup {
    display: flex;
    position:fixed;
   
  }
  
  .sidebar {
    color: white;
    transition: width 0.3s ease;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: #0C3A3A;
  }
  
  .logo {
    font-size: 24px;
    margin: 0;
  }
  
  .bars {
    font-size: 25px;
    cursor: pointer;
  }
  
  .link {
    display: flex;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
  }
  
  .link:hover, .link.active {
    background-color: #00b3b3;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .link_text {
    white-space: nowrap;
  }
  
  .link:nth-child(2) {
    background-color: #00b3b3;
  }
  
  .main {
    flex: 1;
    padding: 120px;
  }
  
  /* Responsive design for mobile */
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      z-index: 999;
    }
    
    .main {
      margin-left: 50px;
    }
  }
